<template>
  <div v-if="isLoaded" class="wrap">
    <!-- LiL Widget -->
    <div class="widget__section">
      <div class="widget__heading">
        <h1 class="widget__title">Related links from <span  class="widget__brand">LinkedIn Learning</span></h1> 
        <img class="widget__logo"  src="../src/assets/images/LiL-logo.png" alt="LinkedIn Learning logo">
      </div>
      <p class="widget__results-displayed">Showing <strong>{{maximumLiLResultsDisplayed.length}}</strong> of <strong>{{linkedInLearningResults.totalItems}}</strong> results for <a :href="linkedInLearningResults.viewAll">Leadership Skills (View all)</a></p>
      <div class="widget__results">
        <div v-for="(result, index) in linkedInLearningResults.data" :key="index" class="card">
          <a v-if="index < 4" :href="result.url">
              <div class="card__cover">
                <img class="card__image" :src="result.imageUrl.primary" :alt="result.title">
                <div class="darken-image"></div>
                <div class="card__status-bar">
                  <span class="card__duration">{{ getDuration(result.duration) }}</span>
                  <span class="card__status"></span>
                </div>
              </div>
              <div class="card__header">
                <h2 class="card__title"> 
                  <span class="card__type">{{result.type}}</span>
                    {{result.title}}
                </h2>
                <p class="card__author"><strong>By:</strong> {{result.author}}</p>
                <p class="card__skills"><strong>Skills:</strong> 
                    <span v-for="(classification, index) in result.classifications" :key="index">
                    <a href="#">{{classification.name}}</a><span v-if="index + 1 < result.classifications.length">, </span>
                  </span>
                </p>
              </div>
          </a>
        </div>
        <div class="widget__footer">
          <p class="widget__subtitle">Explore topics from LinkedIn Learning: </p>
          <div class="categories__container">
            <a class="categories" v-for="(category, index) in categories" :key="index" :href="getLinkedInLearningCategoryURL(category)">{{category}}</a>
          </div>
        </div>
      </div>
    </div>
      <!--  Get Abstract Widget -->
      <div class="widget__section">
        <div class="widget__heading">
          <h1 class="widget__title">Related links from <span class="widget__brand">getAbstract</span></h1> 
          <img class="widget__logo"  src="../src/assets/images/getAbstract-logo.jpg"  alt="getAbstract logo">
        </div>
        <p class="widget__subtitle">We fine, rate and summarise relevant knowledge to help people make better decisions in business and their private lives.</p>
        <p class="widget__results-displayed">Showing <strong>{{maximumGAResultsDisplayed.length}}</strong> of <strong>{{getAbstractResults.totalItems}}</strong> results for <a :href="getAbstractResults.viewAll">Management (View all)</a></p>
        <div class="widget__results">
          <div v-for="(result, index) in getAbstractResults.data" :key="index" class="card--abstract">
            <div>
                <a v-if="index < 5" :href="result.url" class="card__content">
                  <div class="card__cover">
                    <img class="card__image" :src="result.imageUrl" alt="{{result.title}}">
                    <div class="darken-image"></div>
                  </div>
                  <h2 class="card__title">
                      {{result.title}}
                  </h2>
                </a>
            </div>
          </div>
          <div class="widget__footer">
            <p>Explore topics from getAbstract:</p>
            <div class="categories__container">
                <a class="categories" v-for="(category, index) in categories" :key="index" :href="getgetAbstractCategoryURL(category)">{{category}}</a>
            </div>
          </div>
        </div>
      </div>
      <!-- LinkedIn Search Results  -->
      <div class="results__heading ">
        <p>Showing <strong>{{maximumLiLSearchResults.length}}</strong> out <strong>{{linkedInLearningResults.totalItems}}</strong> from Linkedin Learning <a :href="linkedInLearningResults.viewAll">(View all)</a></p>
        <img class="results__logo" src="../src/assets/images/LiL-logo.png" alt="LinkedIn Learning logo">
      </div>
      <div class="results__card" v-for="(result, index) in linkedInLearningResults.data" :key="index">

        <a v-if="index < 5" :href="result.url" class="result--LiL">
          <div class="card__cover">
            <img class="card__image" :src="result.imageUrl.primary" :alt="result.title">
            <div class="darken-image"></div>
            <div class="card__status-bar">
              <span class="card__duration">{{ getDuration(result.duration) }}</span>
              <span class="card__status"></span>
            </div>
          </div>
          <div class="card__header">
            <h2 class="card__title"> 
              <span class="card__type">{{result.type}}</span>
                {{result.title}}
            </h2>
            <p class="card__author">By: {{result.author}}</p>
            <p  class="card__skills"><strong>Skills: </strong>
            <span v-for="(classification, index) in result.classifications" :key="index">
              <a class="skills" href="#" > {{classification.name}}</a><span v-if="index+1 < result.classifications.length">, </span>
            </span>
            </p>
          </div>
        </a>
    </div>
    <a :href="linkedInLearningResults.viewAll">View all {{linkedInLearningResults.totalItems}} results</a>

    <!-- GetAbstract Results  -->
    <div class="results__heading ">
      <p>Showing <strong>{{maximumGASearchResults.length}}</strong> out <strong>{{getAbstractResults.totalItems}}</strong> from Get Abstract <a :href="getAbstractResults.viewAll">(View all)</a></p>
      <img class="results__logo" src="../src/assets/images/getAbstract-logo.jpg"  alt="getAbstract logo">
    </div>
    <div v-for="(result, index) in getAbstractResults.data" :key="index">
      <div v-if="index < 5" class="results__card">
        <a  :href="result.url" class="result--GA">
          <div class="card__cover">
            <img class="card__image" :src="result.imageUrl" :alt="result.title">
            <div class="darken-image"></div>
          </div>
          <div class="card__header">
            <h2 class="card__title"> 
              <span class="card__type">{{result.type}}</span>
                {{result.title}}
            </h2>
            <p v-if="result.teaser" class="card__teaser">{{result.teaser}}</p>
            <p v-else class="card__teaser">{{result.subtitle}}</p>
            <p class="card__author"><strong>By:</strong> {{result.author}}</p>
            <p class="card__publisher"><strong>{{result.publisher}} {{ getYear(result.publicationDate) }}</strong> </p>
          </div>
        </a>
      </div>
    </div>
    <a :href="getAbstractResults.viewAll">View all {{getAbstractResults.totalItems}} results</a>
  </div>
</template>

<script>
import {fetch} from 'whatwg-fetch';
export default {
  name: 'BpLiLGA',
  data(){
    return{
      isLoaded: false,
      linkedInLearningResults: {},
      getAbstractResults: {},
      categories: [
        "Business Strategy", "Coaching and Mentoring" , "Communication", 
        "Decision-Making" , "Executive leadership", "Leadership skills",
      ]
    }
  },
  // props:{
  //   currentCategory: String,
  //   categories: Array,
  // },
  methods:{
    getYear(str){
       return str.split(/[^\d]/).filter(function(n){if((n>=1900)&&(n<=2099))return n})[0]
    },
    getDuration(str){
       return str.substring(0, str.indexOf("i"));
    },
    getLinkedInLearningCategoryURL(category){
      var query = category.toLowerCase().replace(/ /g,"+")
      return `https:\/\/www.linkedin.com\/learning\/search?keywords=${query}&u=2031476`

    },
    getgetAbstractCategoryURL(category){
      var query = category.toLowerCase().replace(/ /g,"%20")
      return `https:\/\/www.getabstract.com\/en\/search?query=${query}&allFormats=true&allSources=true&allRatings=true&allPublicationYears=true&languageIds=1`

    },
     getOtherResults(){
      this.isLoaded = false;
      fetch('https://bptransitions.tuimedia.com/resourcefinder/data/resources/_related/external?keyword=management', {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json',
          'Authorization': 'Bearer ' + 'eyJ0eXAiOiJKV1MiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VybmFtZSI6InR1aWFkbWluIiwicnRrIjoicDJYbUN6emsiLCJpYXQiOjE0NTgzMDYxNjEsImV4cCI6MTcxMDA3NTc2MX0.vsJSTWZqfYI9mMA8O2c11gkRfZiuWeZQ-Jc3ZXyBIgo'
        }
      })
      .then(function(response) {
        return response.json();
      })
      .then((json) => {
          this.linkedInLearningResults = json.linkedInLearning
            this.getAbstractResults = json.getAbstract
            this.isLoaded = true
      })
      .catch(function (error) {
        console.log(error);
      });
    }
  },
  filters: {
    capitalize: function(str) {
        return str.toUpperCase();
    }
  },
  computed:{
    maximumLiLSearchResults(){
      return this.linkedInLearningResults.data.slice(0,5);
    },
    maximumGASearchResults(){
      return this.getAbstractResults.data.slice(0,5);
    },
    maximumLiLResultsDisplayed(){
      return this.linkedInLearningResults.data.slice(0,4);
    },
    maximumGAResultsDisplayed(){
      return this.getAbstractResults.data.slice(0,6);
    },
    // TODO computed property for the links of the topics
  },
  mounted(){
    this.getOtherResults();
  }
};
</script>

<style scoped>

/* Delete after */
.wrap{
  margin-left: 300px;
  margin-right: 300px;
  padding:30px;
  background-color: #fbfbfb;
  color: #727272;
  text-decoration: none;
}

/* Results CSS  */
.result--LiL, .result--GA{
  display: flex;
  margin-bottom: 1vh;
  text-decoration: none;
  min-height: 6vw;
  color: black;
}
.result--LiL img, .result--GA img{
  height: 15vh;
}
.result--GA .card__cover{
  padding: 10px;
}
.card__image{
  display: block;
  max-width: 100%;
}
.results__heading{
  margin-bottom: 2vh;
}
/* Hover states */

.results__card, .card, .card--abstract{
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.06);
}
.results__card:hover, .card:hover, .card--abstract:hover{
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.12);
}

.results__card:hover .darken-image, .results__card:hover .darken-image--GA, .card:hover .darken-image, .card--abstract:hover .darken-image{
  /* filter: brightness(70%); */
  opacity: 0.2; 
}
.darken-image:hover, .result .darken-image--GA:hover{
  /* filter:brightness(50%) */
  opacity: 0.2; 
}


/* GA Results */
.result--LiL .card__header, .result--GA .card__header{
  display: grid;
  max-width: 70%;
}
.result--LiL .card__title, .card__skills, .widget__results-displayed, .card__author{
  margin-bottom: 0;
}
.card--abstract a, .card a, .result:visited{
  text-decoration: none;
  color: black;
}
.card--abstract .card__image{
  width: 100%;
}

.widget__logo, .results__logo{
  align-self: center;
  height: 30px;
}
.widget__results{
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
.widget__footer{
  margin-top: 2vh;
}

/* Card */
.card{
  max-width: 22%;
  flex-basis: 22%;
  display: grid;
  position: relative;
  margin-top: 1vw;
}
.card--abstract{
  max-width: 18%;
  flex-basis: 18%;
  display: grid;
  position: relative;
  margin-top: 1vw;
  text-align: center;
}

.card__skills {
  font-size: 12px;
}
.card__skills .skills{
  text-decoration: none;
  color: black;
}
.card__skills:visited .skills{
  color: black;
}
.card__title{
  font-size: 14px;
  text-decoration: none;
  font-weight: 300;
  color: #2c2c2c;
}

.card__teaser, .card__author, .card__publisher{
  font-size: 12px;
  font-weight: 300;
}

.card__header{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.card__cover{
  position: relative;
}
.darken-image{
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: 0; 
  position: absolute;
  right: 0;
  top: 0;
}
.darken-image:hover{
  opacity: 0.2; 
}
.card__status-bar{
  display: flex;
  position: absolute;
  bottom: 0;
  z-index: 1;
   /* Avoid rendering issue in webkit (thumbnail moves on animation) */
  -webkit-transform: translateZ(0);
}

.card__duration{
  background: white;
  border-right: 9px solid #009900;
  font-size: 12px;
  color: #666;
  padding: 0 10px;
  display: block;
  line-height: 25px;
}
.result--LiL .card__author{
  margin-top:0;
  font-size: 12px;
}


/* Widget Specific */
.widget__title{
  font-size: 26px;
  font-weight: 300;
  color: #2c2c2c;
}
.widget__title .widget__brand{
  text-decoration: underline;
  color: #009900;
}
.widget__subtitle{
  font-size: 16px;
  margin-top: 0;
  width: 71%;
}
.widget__heading, .results__heading{
  display: flex;
  justify-content: space-between;
}

.widget__section{
  margin-bottom: 5vh;
}
.widget__section:before{
  content: "";
  width: 100%;
  border-top: 5px solid #666;
  display: block;
}
.widget__subtitle span, .widget__subtitle a, .widget__results-displayed a {
  color: #009900;
  text-decoration: none;
}
.card__type{
  color: #F16720;
}

.categories{
  padding: .5rem 1rem;
  background: #eee;
  position: relative;
  margin-bottom: 5px;
  margin-right: 5px;
  display: grid;
  text-decoration: none;
  color: #727272;

}

.categories__container{
  display: flex;
  flex-wrap: wrap
}
</style>
